* {
    /* outline: 2px solid red; */
}

body {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav {
    display: flex;
    background-color: #25242b;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.logo {
    font-size: 30px;
    font-weight: 800;
}


ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 25px;
}

.hero {
    background-color: #25242b;
    color: white;
    display: flex;
    flex-shrink: 1;
    justify-content: space-evenly;
    padding: 30px;
}

h1 {
    font-weight: 200;
    margin: 0;
}

p {
    max-width: 400px;
}

button {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: whitesmoke;
    background-color: blue;
}

img {
    margin: 0;
    padding: 0;
    width: 380px;
    height: auto;
    border: none;
}

.cardsection {
    background-color: white;
    padding: 20px;
}

.h2card {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 0;
    padding: 20px 0 30px 0;
}

.cardcontainer {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.card {
    border-radius: 10px;
    border: 2px solid blue;
    max-width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.info {
    max-width: 100px;
}

.quote {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap:20px;
}

.words {
    font-size: 2rem;
    max-width: 500px
}

.author {
    width: 500px;
    text-align: end;
    font-weight: bold;
    font-size: 1.5rem;
}

.callsection {
    background-color: white;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calldiv {
    background-color: royalblue;
    color: white;
    padding: 60px;
    margin: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.call h3 {
    margin: 0;
}

.call p {
    margin: 0;
}

.callbutton {
    border: 2px solid white;
    height: 40px;
}
